<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- NLog Variables -->
  <variable name="logDir" value="./logs/invest-edge" />
  <variable name="projectName" value="InvestEdge" />
  

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- This log captures all log envents from both IIS ans application processes.
         a stricter retention policy is used as not to fill up storage space. -->
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile"
            fileName="${logDir}/invest-edge-${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Exception Error log -->
    <target name="errorLog" xsi:type="File"
            fileName="${logDir}/invest-edge-error-${shortdate}.log"
            archiveFileName="${logDir}/archives/invest-edge-error.log.{#}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- Informantion Log -->
    <target name="infoLog" xsi:type="File"
            fileName="${logDir}/invest-edge-info-${shortdate}.log"
            archiveFileName="${logDir}/archives/invest-edge-info.log{#}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Capture only InvestEdge.* class Info level logging -->
    <logger name="${projectName}.*" level="Info" writeTo="infoLog" />

    <!-- Capture only InvestEdge.* class Error level logging -->
    <logger name="${projectName}.*" minlevel="Error" writeTo="errorLog" />

    <!-- All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Skip non-critical Microsoft logs and so log only LifeBank logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>